.ObjetosColuna{
	display: flex;
	flex-direction: column;
}

.ObjetosLinha{
	display: flex;
	flex-direction: row;
}

.ObjetosColuna label, .ObjetosLinha label{
	display: block;
}

/* Estilos Botões */
	.BotaoPrimario.ui-button{
		margin-right: 8px;
   		margin-top: 1px;
    	padding: 2px 10px 2px 10px;
	}
	
	.BotaoPrimario.ui-button:hover{
		background-color: var(--corPrincipal);
		box-shadow: 0px 0px 5px var(--corSecundaria);
		border: 1px solid var(--corPrincipal);
	}
	
	.BotaoPrimario.ui-button:focus{
		background-color: var(--corPrincipal);
		box-shadow: 0px 0px 5px var(--corSecundaria);
		border-color: var(--corPrincipal);
		outline: none; 
	}
	
	.BotaoSecundario.ui-button{
		border: none;
		background-color: #fff;
		margin-right: 8px;
	    margin-top: 1px;
	    padding: 2px 10px 2px 10px;
	}
	
	.BotaoSecundario.ui-button:hover{
		box-shadow: 0px 0px 5px var(--corSecundaria);
	}
	
	.BotaoSecundario.ui-button:focus{
		outline: none; 
		box-shadow: 0px 0px 5px var(--corSecundaria);
	}
	/*
	.BotaoAtencao{
		margin-right: 8px;
		background-color: transparent !important;
		border-color: #8b0000;
		color: #8b0000;
	}
	
	.BotaoAtencao:hover{
		background-color: transparent;
		box-shadow: 0px 0px 4px #ff0000;
		
		color: #ff0000;
		border: 1px solid #ff0000;
	}
	
	.BotaoAtencao:focus{
		background-color: transparent;
		box-shadow: 0px 0px 4px #ff0000; 
		outline-color: #ff0000; 
		
		color: #ff0000;
		border: 1px solid #ff0000;
	}
	*/
	
	.menuBotao.ui-menu{
		background-color: var(--corLetra);
	}
			
	.menuBotao.ui-menuitem:hover{
		background-color: transparent;
		box-shadow: 0px 0px 5px var(--corSecundaria);
	}
			
	.menuBotao.ui-button:focus, .menuBotao.ui-button:hover{
		background-color: var(--corPrincipal);
		box-shadow: 0px 0px 5px var(--corSecundaria);
	}
/* */

/* parte do dataTable cellEditor */
	/* Editar */
	.EditPrimefaces span:first-child{
		height: 20px;
		width: 20px;
		background-image: url(../resources/imagens/edit.png);
		background: round;
	}
				
	/* Confirmar */
	.EditPrimefaces span:nth-child(2){
		height: 20px;
		width: 20px;
		background-image: url(../resources/imagens/tick.png);
		background: round;
	}
				
	/* Cancelar */
	.EditPrimefaces span:last-child{
		height: 25px;
		width: 25px;
		background-image: url(../resources/imagens/close.png);
		background: round;
	}
/* */

/* Menu */
	.AjusteMenuPrincipal.ui-panelmenu{
		max-width: 350px;
		min-width: 300px;
	}
	
	.AjusteMenuPrincipal .ui-panelmenu-header{
		background-color: var(--corLetra);
	}
	
	.AjusteMenuPrincipal .ui-panelmenu-header:active{
		background-color: none;
	}
	
	.AjusteMenuPrincipal .ui-panelmenu-header:hover{
		box-shadow: 0px 0px 5px var(--corPrincipal);
	}	
	
	.AjusteMenuPrincipal .ui-menuitem .ui-menuitem-link:hover{
		background-color: var(--corLetra);
		box-shadow: 0px 0px 5px var(--corPrincipal);
		margin: 0 5px;
	}
/* End Menu */
	
/* Tamanhos */
	/*
		A Diferença Entre Tamanho e TamanhoSelect é que Para Ajustar o Tamanho
		dos Inputs Normais com os Selects é Preciso um Ajuste de 10px.
	*/

	.TamanhoMIN.ui-inputfield{
		width: 118.75px;
	}
	
	.TamanhoPPP.ui-inputfield{
		width: 80.0px;
	}
	
	.TamanhoPP.ui-inputfield{
		width: 242.5px;
	}
	
	.TamanhoP.ui-inputfield{
		width: 366.25px;
	}
	
	.TamanhoM.ui-inputfield{
		width: 490px;
	}
	
	.TamanhoG.ui-inputfield{
		width: 613.75px;
	}
	
	.TamanhoGG.ui-inputfield{
		width: 737.5px;
	}
	
	.TamanhoXGG.ui-inputfield{
		width: 861.75px;
	}
	
	.TamanhoMAX.ui-inputfield{
		width: 985px;
	}
	
	.TamanhoFluidMIN.ui-inputfield{
		width: 12.5%;
	}
	
	.TamanhoFluidPP.ui-inputfield{
		width: 25%;
	}
	
	.TamanhoFluidP.ui-inputfield{
		width: 37.5%;
	}
	
	.TamanhoFluidM.ui-inputfield{
		width: 50%;
	}
	
	.TamanhoFluidG.ui-inputfield{
		width: 62.5%;
	}
	
	.TamanhoFluidGG.ui-inputfield{
		width: 75%;
	}
	
	.TamanhoFluidXGG.ui-inputfield{
		width: 87.5%;
	}
	
	.TamanhoFluidMAX.ui-inputfield{
		width: 100%;
	}
	
	.TamanhoMIN.ui-inputfield, .TamanhoPP.ui-inputfield, .TamanhoP.ui-inputfield,
	.TamanhoM.ui-inputfield, .TamanhoG.ui-inputfield, .TamanhoGG.ui-inputfield,
	.TamanhoXGG.ui-inputfield, .TamanhoMax.ui-inputfield, .TamanhoPPP.ui-inputfield,
	
	.TamanhoFluidMIN.ui-inputfield, .TamanhoFluidPP.ui-inputfield, .TamanhoFluidP.ui-inputfield,
	.TamanhoFluidM.ui-inputfield, .TamanhoFluidG.ui-inputfield, .TamanhoFluidGG.ui-inputfield,
	.TamanhoFluidXGG.ui-inputfield, .TamanhoFluidMax.ui-inputfield{
		margin: 1px 10px 3px 0;
		padding: 7px 0 5px 8px;
	}
	
	.TamanhoMIN.ui-inputfield:focus, .TamanhoMIN.ui-inputfield:hover,
	.TamanhoPP.ui-inputfield:focus, .TamanhoPP.ui-inputfield:hover,
	.TamanhoP.ui-inputfield:focus, .TamanhoP.ui-inputfield:hover,
	.TamanhoM.ui-inputfield:focus, .TamanhoM.ui-inputfield:hover,
	.TamanhoG.ui-inputfield:focus, .TamanhoG.ui-inputfield:hover,
	.TamanhoGG.ui-inputfield:focus, .TamanhoGG.ui-inputfield:hover,
	.TamanhoXGG.ui-inputfield:focus, .TamanhoXGG.ui-inputfield:hover,
	.TamanhoMAX.ui-inputfield:focus, .TamanhoMAX.ui-inputfield:hover,
	.TamanhoPPP.ui-inputfield:focus, .TamanhoPPP.ui-inputfield:hover
	
	.TamanhoFluidMIN.ui-inputfield:focus, .TamanhoFluidMIN.ui-inputfield:hover,
	.TamanhoFluidPP.ui-inputfield:focus, .TamanhoFluidPP.ui-inputfield:hover,
	.TamanhoFluidP.ui-inputfield:focus, .TamanhoFluidP.ui-inputfield:hover,
	.TamanhoFluidM.ui-inputfield:focus, .TamanhoFluidM.ui-inputfield:hover,
	.TamanhoFluidG.ui-inputfield:focus, .TamanhoFluidG.ui-inputfield:hover,
	.TamanhoFluidGG.ui-inputfield:focus, .TamanhoGG.ui-inputfield:hover,
	.TamanhoFluidXGG.ui-inputfield:focus, .TamanhoXGG.ui-inputfield:hover,
	.TamanhoFluidMAX.ui-inputfield:focus, .TamanhoMAX.ui-inputfield:hover{
		border-color: var(--corPrincipal);
		box-shadow: 0px 0px 5px var(--corPrincipal), inset 0 2px 2px #8f8f8f;
	}
	
	/* TamanhoInputNumber */
	
	.TamanhoNumberMIN.ui-inputnumber{
		width: 118.75px;
	}
	
	.TamanhoNumberPPP.ui-inputnumber{
		width: 80.0px;
	}
	
	.TamanhoNumberPP.ui-inputnumber{
		width: 242.5px;
	}
	
	.TamanhoNumberP.ui-inputnumber{
		width: 366.25px;
	}
	
	.TamanhoNumberM.ui-inputnumber{
		width: 490px;
	}
	
	.TamanhoNumberG.ui-inputnumber{
		width: 613.75px;
	}
	
	.TamanhoNumberGG.ui-inputnumber{
		width: 737.5px;
	}
	
	.TamanhoNumberXGG.ui-inputnumber{
		width: 861.75px;
	}
	
	.TamanhoNumberMAX.ui-inputnumber{
		width: 985px;
	}
	
	.TamanhoNumberFluidMIN.ui-inputnumber{
		width: 12.5%;
	}
	
	.TamanhoNumberFluidPP.ui-inputnumber{
		width: 25%;
	}
	
	.TamanhoNumberFluidP.ui-inputnumber{
		width: 37.5%;
	}
	
	.TamanhoNumberFluidM.ui-inputnumber{
		width: 50%;
	}
	
	.TamanhoNumberFluidG.ui-inputnumber{
		width: 62.5%;
	}
	
	.TamanhoNumberFluidGG.ui-inputnumber{
		width: 75%;
	}
	
	.TamanhoNumberFluidXGG.ui-inputnumber{
		width: 87.5%;
	}
	
	.TamanhoNumberFluidMAX.ui-inputnumber{
		width: 100%;
	}
	
	.TamanhoNumberMIN.ui-inputnumber, .TamanhoNumberPP.ui-inputnumber, .TamanhoNumberP.ui-inputnumber,
	.TamanhoNumberM.ui-inputnumber, .TamanhoNumberG.ui-inputnumber, .TamanhoNumberGG.ui-inputnumber,
	.TamanhoNumberXGG.ui-inputnumber, .TamanhoNumberMax.ui-inputnumber, .TamanhoNumberPPP.ui-inputnumber,
	
	.TamanhoNumberFluidMIN.ui-inputnumber, .TamanhoNumberFluidPP.ui-inputnumber, .TamanhoNumberFluidP.ui-inputnumber,
	.TamanhoNumberFluidM.ui-inputnumber, .TamanhoNumberFluidG.ui-inputnumber, .TamanhoNumberFluidGG.ui-inputnumber,
	.TamanhoNumberFluidXGG.ui-inputnumber, .TamanhoNumberFluidMax.ui-inputnumber{
		margin: 0 10px 3px 0;
		padding: 0 10px 0 4px;
	}
	
	.TamanhoNumberMIN.ui-inputnumber:focus, .TamanhoNumberMIN.ui-inputnumber:hover,
	.TamanhoNumberPP.ui-inputnumber:focus, .TamanhoNumberPP.ui-inputnumber:hover,
	.TamanhoNumberP.ui-inputnumber:focus, .TamanhoNumberP.ui-inputnumber:hover,
	.TamanhoNumberM.ui-inputnumber:focus, .TamanhoNumberM.ui-inputnumber:hover,
	.TamanhoNumberG.ui-inputnumber:focus, .TamanhoNumberG.ui-inputnumber:hover,
	.TamanhoNumberGG.ui-inputnumber:focus, .TamanhoNumberGG.ui-inputnumber:hover,
	.TamanhoNumberXGG.ui-inputnumber:focus, .TamanhoNumberXGG.ui-inputnumber:hover,
	.TamanhoNumberMAX.ui-inputnumber:focus, .TamanhoNumberMAX.ui-inputnumber:hover,
	.TamanhoNumberPPP.ui-inputnumber:focus, .TamanhoNumberPPP.ui-inputnumber:hover
	
	.TamanhoNumberFluidMIN.ui-inputnumber:focus, .TamanhoNumberFluidMIN.ui-inputnumber:hover,
	.TamanhoNumberFluidPP.ui-inputnumber:focus, .TamanhoNumberFluidPP.ui-inputnumber:hover,
	.TamanhoNumberFluidP.ui-inputnumber:focus, .TamanhoNumberFluidP.ui-inputnumber:hover,
	.TamanhoNumberFluidM.ui-inputnumber:focus, .TamanhoNumberFluidM.ui-inputnumber:hover,
	.TamanhoNumberFluidG.ui-inputnumber:focus, .TamanhoNumberFluidG.ui-inputnumber:hover,
	.TamanhoNumberFluidGG.ui-inputnumber:focus, .TamanhoNumberGG.ui-inputnumber:hover,
	.TamanhoNumberFluidXGG.ui-inputnumber:focus, .TamanhoNumberXGG.ui-inputnumber:hover,
	.TamanhoNumberFluidMAX.ui-inputnumber:focus, .TamanhoNumberMAX.ui-inputnumber:hover{
		border-color: var(--corPrincipal);
		box-shadow: 0px 0px 5px var(--corPrincipal), inset 0 2px 2px #8f8f8f;
	}
	
	/* TamanhoSelect */
		.TamanhoSelectMIN.ui-selectonemenu{
			width: 126.75px !important;
		}
				
		.TamanhoSelectPP.ui-selectonemenu{
			width: 250.5px !important;
		}
		
		.TamanhoSelectP.ui-selectonemenu{
			width: 374.25px !important;
		}
		
		.TamanhoSelectM.ui-selectonemenu{
			width: 498px !important;
		}
			
		.TamanhoSelectG.ui-selectonemenu{
			width: 621.75px !important;
		}
		
		.TamanhoSelectGG.ui-selectonemenu{
			width: 745.5px !important;
		}
			
		.TamanhoSelectXGG.ui-selectonemenu{		
			width: 869.75px !important;
		}
		
		.TamanhoSelectMIN.ui-selectonemenu, .TamanhoSelectPP.ui-selectonemenu, 
		.TamanhoSelectP.ui-selectonemenu, .TamanhoSelectM.ui-selectonemenu, 
		.TamanhoSelectG.ui-selectonemenu, .TamanhoSelectGG.ui-selectonemenu, 
		.TamanhoSelectXGG.ui-selectonemenu{
			margin-right: 10px;
			margin: 1px 10px 3px 0;
		}
		
		.TamanhoSelectMIN.ui-selectonemenu.ui-state-hover, .TamanhoSelectMIN.ui-selectonemenu.ui-state-focus,
		.TamanhoSelectPP.ui-selectonemenu.ui-state-hover, .TamanhoSelectPP.ui-selectonemenu.ui-state-focus,
		.TamanhoSelectP.ui-selectonemenu.ui-state-hover, .TamanhoSelectP.ui-selectonemenu.ui-state-focus,
		.TamanhoSelectM.ui-selectonemenu.ui-state-hover, .TamanhoSelectM.ui-selectonemenu.ui-state-focus,
		.TamanhoSelectG.ui-selectonemenu.ui-state-hover, .TamanhoSelectG.ui-selectonemenu.ui-state-focus,
		.TamanhoSelectGG.ui-selectonemenu.ui-state-hover, .TamanhoSelectGG.ui-selectonemenu.ui-state-focus,
		.TamanhoSelectXGG.ui-selectonemenu.ui-state-hover, .TamanhoSelectXGG.ui-selectonemenu.ui-state-focus{
			border: 1px solid var(--corPrincipal);
			box-shadow: 0px 0px 5px var(--corPrincipal);
		}
		
		.TamanhoSelectMIN .ui-selectonemenu-label, .TamanhoSelectPP .ui-selectonemenu-label, 
		.TamanhoSelectP .ui-selectonemenu-label, .TamanhoSelectM .ui-selectonemenu-label, 
		.TamanhoSelectG .ui-selectonemenu-label, .TamanhoSelectGG .ui-selectonemenu-label, 
		.TamanhoSelectXGG .ui-selectonemenu-label, .TamanhoSelectFluidMAX .ui-selectonemenu-label{
			width: auto !important;
			text-indent: 9px;
	
			padding: 7px 0 5px 0;
		}	
				
		.TamanhoSelectMIN .ui-selectonemenu-trigger.ui-state-hover, .TamanhoSelectMIN .ui-selectonemenu-trigger.ui-state-focus,
		.TamanhoSelectPP .ui-selectonemenu-trigger.ui-state-hover, .TamanhoSelectPP .ui-selectonemenu-trigger.ui-state-focus,
		.TamanhoSelectP .ui-selectonemenu-trigger.ui-state-hover, .TamanhoSelectP .ui-selectonemenu-trigger.ui-state-focus,
		.TamanhoSelectM .ui-selectonemenu-trigger.ui-state-hover, .TamanhoSelectM .ui-selectonemenu-trigger.ui-state-focus,
		.TamanhoSelectG .ui-selectonemenu-trigger.ui-state-hover, .TamanhoSelectG .ui-selectonemenu-trigger.ui-state-focus,
		.TamanhoSelectGG .ui-selectonemenu-trigger.ui-state-hover, .TamanhoSelectGG .ui-selectonemenu-trigger.ui-state-focus,
		.TamanhoSelectXGG .ui-selectonemenu-trigger.ui-state-hover, .TamanhoSelectXGG .ui-selectonemenu-trigger.ui-state-focus{
			background-color: var(--corPrincipal);
			border-left: 1px solid var(--corPrincipal);
			box-shadow: none;
		}
		
		.TamanhoSelectMIN .ui-selectonemenu-list .ui-selectonemenu-list-item.ui-state-hover,
		.TamanhoSelectPP .ui-selectonemenu-list .ui-selectonemenu-list-item.ui-state-hover,
		.TamanhoSelectP .ui-selectonemenu-list .ui-selectonemenu-list-item.ui-state-hover,
		.TamanhoSelectM .ui-selectonemenu-list .ui-selectonemenu-list-item.ui-state-hover,
		.TamanhoSelectG .ui-selectonemenu-list .ui-selectonemenu-list-item.ui-state-hover,
		.TamanhoSelectGG .ui-selectonemenu-list .ui-selectonemenu-list-item.ui-state-hover,
		.TamanhoSelectXGG .ui-selectonemenu-list .ui-selectonemenu-list-item.ui-state-hover{
			background-color: var(--corLetra);
			box-shadow: 0px 0px 5px var(--corPrincipal);
		}
		
		.TamanhoSelectMIN .ui-selectonemenu-list .ui-selectonemenu-list-item.ui-state-highlight,
		.TamanhoSelectPP .ui-selectonemenu-list .ui-selectonemenu-list-item.ui-state-highlight,
		.TamanhoSelectP .ui-selectonemenu-list .ui-selectonemenu-list-item.ui-state-highlight,
		.TamanhoSelectM .ui-selectonemenu-list .ui-selectonemenu-list-item.ui-state-highlight,
		.TamanhoSelectG .ui-selectonemenu-list .ui-selectonemenu-list-item.ui-state-highlight,
		.TamanhoSelectGG .ui-selectonemenu-list .ui-selectonemenu-list-item.ui-state-highlight,
		.TamanhoSelectXGG .ui-selectonemenu-list .ui-selectonemenu-list-item.ui-state-highlight{
			background-color: var(--corSecundariaClara);
		}
	/* Fim TamanhoSelect */
	
	/* TamanhoSpinner */
		.TamanhoSpinnerMIN input{
			width: 120.75px;
		}
		
		.TamanhoSpinnerPP input{
			width: 136.75px;
		}
		
		.TamanhoSpinnerP input{
			width: 152.75px;
		}
		
		.TamanhoSpinnerM input{
			width: 168.75px;
		}
		
		.TamanhoSpinnerG input{
			width: 184.75px;
		}
		
		.TamanhoSpinnerGG input{
			width: 200.75px;
		}
		
		.TamanhoSpinnerXGG input{
			width: 216.75px;
		}
		
		.TamanhoSpinnerMAX input{
			width: 232.75px;
		}
		
		.TamanhoSpinnerMIN input, .TamanhoSpinnerPP input, .TamanhoSpinnerP input,
		.TamanhoSpinnerM input, .TamanhoSpinnerG input, .TamanhoSpinnerGG input,
		.TamanhoSpinnerXGG input, .TamanhoSpinnerMAX input{
			text-align: left;
			
			text-indent: 9px;
			padding: 7px 7px 5px 0;
		}
		
		.TamanhoSpinnerMIN, .TamanhoSpinnerPP, .TamanhoSpinnerP,
		.TamanhoSpinnerM, .TamanhoSpinnerG, .TamanhoSpinnerGG,
		.TamanhoSpinnerXGG, .TamanhoSpinnerMAX{
			margin-right: 10px;
		}
	/*Fim TamanhoSpinner*/
	
/* End Tamanhos */

/* */
	/* O tamanho da Imagem, por regra de negócio e de 255px*/
	.TamanhoCampoImagem5X, .TamanhoCampoImagem5X img {
		width: 51px;
		height: auto;
	}
	
	.TamanhoCampoImagem4X, .TamanhoCampoImagem4X img {
		width: 63.75px;
		height: auto;
	}
	
	.TamanhoCampoImagem3X, .TamanhoCampoImagem3X img {
		width: 85px;
		height: auto;
	}
	
	.TamanhoCampoImagem2X, .TamanhoCampoImagem2X img {
		width: 127.5px;
		height: auto;
	}
	
	.TamanhoCampoImagemMAX, .TamanhoCampoImagemMAX img{
		width: 255px;
		height: auto;
		
	}
/* */

/* Class body */
    .Container {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    .Container main{
    	padding: 10px;
		flex: 1;
    }
/* End Class body */

/* Header */
	.HeaderCabecalho form{
		display: flex;
		justify-content: space-between;
		align-items: center;
	    background-color: var(--corPrincipal);
	}
	
	.HeaderCabecalho form h1{
		white-space: nowrap;
		
		margin-right: 10%;
		font-size: 18px;
		color: var(--corLetra);
	}
	
	.HeaderCabecalho form a{
		height: 100px;
	}
	
	.HeaderCabecalho form a img {
	    width: 320px;
	    height: auto;
	}
/* End Header */

/* Footer */
	.FooterCopyright{
		display: flex;
		align-items: center;
		justify-content: center;
		
		min-height: 100px;
	    background-color: var(--corPrincipal);
	    color: var(--corLetra);
	    font-size: 14px;
	    font-weight: bold;
	    font-family: sans-serif, monospace;
	    cursor: default;
	}
	
	.FooterCopyright p span{
		color: #a51b0b;
	}
/* End Footer */