/* Campo Usado para Criar Variáveis Globais */
:root{
	/* Cores */
		--corPrincipal: #679344; /* rgb(103,147,68) */
		--corSecundaria: #2F491A; /* rgb(47,73,26) */
		--corSecundariaClara: #8CC878; /* rgb(140,200,120); */ 
		--corLetra: #EDF8CE; /* rgb(237,248,206) */
	/* fim Cores */
}

